
# .gitignore

# Environment variables
.env

# Dependencies
node_modules

# Build output
dist/
build/

# Logs
logs/
*.log

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS and editor temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*~

# Miscellaneous
*.zip
*.tar.gz